html, body, #root {
  height: 100%;
}

.App {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
}

.App-settingsPanel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.App-sliders {
  display: flex;
  flex-direction: column;
  width: 387px;
}

.App-buttons {
  display: flex;
  flex-direction: row;
}

.ConsoleButton {
  margin: 10px;
  border-radius: 10px;
  font-size: 32px;
  color: white;
  padding: 5px 15px 7px 15px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.ConsoleButton-icon {
  margin-right: 12px;
}

.ResetButton {
  background-color: #E13737;
  border: 3.5px solid #551C1C;
  box-shadow: 0 0 10px 2px rgba(255, 0, 0, 0.5);
}

.DebugButton {
  background-color: #4990E2;
  border: 3.5px solid #1F3753;
  box-shadow: 0 0 10px 2px rgba(40, 137, 255, 0.5);
}

.StartButton {
  background-color: #3ED15A;
  border: 3.5px solid #1D662B;
  box-shadow: 0 0 10px 2px rgba(48, 255, 67, 0.5);
}

/* Visually align buttons */
.ResetButton .ConsoleButton-icon {
  margin-left: -10px;
  margin-top: 5px;
}


.ConsoleSlider {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 80px;
}

.ConsoleSlider-slider {
  display: flex;
  width: 300px;
}

.ConsoleSlider-icon {
  height: 40px;
  margin-right: 20px;
}

.ConsoleSlider-label {
  margin-left: 40px;
}

.rc-slider-handle {
  width: 40px;
  height: 40px;
  margin-top: -17px;
  background-color: #2b2e30;
  border: 2px solid white;
}

.rc-slider-handle:hover {
  border-color: white;
}

.rc-slider-rail {
  margin-top: -10px;
  height: 25px;
  background-color: #595f62;
  border: 1px solid white;
}

.rc-slider-track {
  margin-top: -10px;
  height: 25px;
  background-color: #595f62;
  border: 1px solid white;
}

.ReactJsonSyntaxHighlighter pre {
  font-size: 9pt;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.ReactJsonSyntaxHighlighter pre .string {
  color: green;
}

.ReactJsonSyntaxHighlighter pre .number {
  color: darkorange;
}

.ReactJsonSyntaxHighlighter pre .boolean {
  color: blue;
}

.ReactJsonSyntaxHighlighter pre .null {
  color: magenta;
}

.ReactJsonSyntaxHighlighter pre .key {
  color: red;
}

.App-debugPanel {
  background-color: #2E2E2E;
  height: 80%;
  width: 80%;
  padding: 20px 20px 20px 20px;
  border-radius: 20px;
  box-shadow: 3px 5px 10px 1px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: row;
  overflow: scroll;
}

.App-debugPanelContents {
  display: flex;
  flex-direction: row;  
  width: 100%;
}

.App-debugInfoPanel {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;
  float: right;

}

.App-debugInfoContents {
  display: flex;
  flex-direction: column;
}

.App-debugState {
  font-size: 40px;
}

.App-debugTime {
  font-size: 32px;
  display: flex;
  justify-content: flex-end;
}

.App-debugText {
  width: 50%;
}
