.App {
  color: white;
}

.App-settingsPanel {
  display: flex;
  justify-content: center;
}

.App-sliders {
  display: flex;
  flex-direction: column;
  width: 200px;
}

.App-buttons {
  display: flex;
  flex-direction: column;
}

.ConsoleButton {
  margin: 10px;
  border-radius: 10px;
  font-size: 32px;
  color: white;
  padding: 5px 5px 7px 5px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.ConsoleButton-icon {
  margin-right: 12px;
}

.ResetButton {
  background-color: #E13737;
  border: 3.5px solid #551C1C;
  box-shadow: 0 0 10px 2px rgba(255, 0, 0, 0.5);
}

.DebugButton {
  background-color: #4990E2;
  border: 3.5px solid #1F3753;
  box-shadow: 0 0 10px 2px rgba(40, 137, 255, 0.5);
}

/* Visually align buttons */
.ResetButton .ConsoleButton-icon {
  margin-left: -10px;
  margin-top: 5px;
}


.ConsoleSlider {
  display: flex;
  flex-direction: row;
  height: 40px;
}
